*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

/* page */



.link{
  text-decoration: none;
  color: #E5E7EB;
  font-size: 12px;
}

main{
  display: flex;
  flex-direction: column;

}


section{
  padding: 50px 0;
  flex: 1;
}

/* header */

header{
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 20px 100px;
}

header p{
  font-weight: bold;
  font-size: 24px;
  color: #F9FAF8;
}

header div{
  display: flex;
  gap: 10px;
  align-items: center;
}


/* first-section */

.first-section{
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  justify-content: center;
}

.first-section-container{
  display: flex;
  justify-content: center;
  gap: 50px;
  max-width: 80%;
}

.first-section .heading-container{
  display: flex;
  flex-direction: column;
  flex: 1;
 

}

.first-section .heading{
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;

}



.first-section .placeholder{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #979797;
  flex: 1;
}

.heading-container button{
  background-color: #3882F6;
  color: #E5E7EB;
  border: none ;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 10px;
  width: 100px;
}


/* second-section */

.second-section{
  display: flex;
  justify-content: center;
}

.second-section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.second-section .heading{
  font-size: 24px;
  font-weight: bold;
  color: #1F2937;
}

.second-section .content-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 180px;
}

.second-section .empty-container{
  border-radius: 10px;
  border: #3882F6 solid 3px;
  height: 180px;
}

.second-section .containers{
  display: flex;
  gap: 40px;
}

/* third-section */

.third-section{
  display: flex;
  background-color: #E5E7EB;
  color: #1F2937;
  font-size: 36px;
  justify-content: center;
}

.third-section-container{
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.third-section .author{
  align-self: flex-end;
  font-size: 20px;
  font-weight: bold;
}

/* forth-section */

.forth-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.forth-section .message{
  background-color: #3882F6;
  display: flex;
  padding: 30px;
  border-radius: 6px;
  gap: 70px;
  color: white;
}

.forth-section button{
  background-color: #3882F6;
  border: white solid 2px;
  padding: 0 20px;
  color: white;
  border-radius: 10px;
}

.forth-section .message-header{
  font-weight: bold;
}

footer{
  padding: 20px;
  background-color: #1F2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

